.business-review-container {
    border-top: 1px;
    flex-direction: row;
    display: flex;
    border-top: 1px solid #f4f4f4;
    max-width: 850px;
    margin: 50px auto;
    padding-top: 30px;

    .total-score {
        align-items: center;
        display:flex;
        flex: 1;
        justify-content: flex-end;
        padding-right: 25px;
        .total-score-text {
            font-size: 48px;
            color: #4c4c4c;
            margin: 0;
        }
    }

    .stars-wrapper {
        flex-direction: column;
        display: flex;
        align-items: flex-end;
        border-right: 2px solid #f4f4f4;
        margin-right: 15px;
        @media screen and (max-width:992px) {
            white-space: nowrap;
        }
        .ant-rate {
            height: 40px;
            padding-top: 7px;
        }
        .ant-rate-star {
            color: #3cb5e2;
           }

           .total-score-text {
            font-size: 40px;
            
        }
    }

    .stars-names {
        flex: 1;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    .scale-name {
        height: 33px;
        padding-top: 7px;
        color: #919191;
    }
    }
}