.footer { 
    @media screen and (max-width:992px) {
        position: absolute;
        bottom: 0;
        display: none;
    }
}

.text {
    text-align: center;
    a {
        color: rgba(0, 0, 0, 0.65);
    }
}