@import '../../sass/common.scss';
.content {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  z-index: 999;
  min-height: 100vh;
  @include mobile {
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    padding: 0 10px;
    min-height: initial;
    min-height: initial;
    max-width: 100%;
  }
}
