.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.35) !important;
    opacity: 0;
    transition: opacity 500ms ease-in;
    z-index: 20;

}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
.ReactModal__Content {
    background-color: #fff !important;
    min-width: 400px;
    min-height: 300px;
    padding: 20px 10px 20px 10px !important;
    border-radius: 15px !important;
    border-width: 0 !important;
    text-align: right;
    direction: rtl;
    h2 {
        font-size: 20px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding: 10px 10px;
        background-color: rgba(46,149,194,0.1);
        color: #333;
        cursor: default;
        border-radius: 14px 0px 14px 14px;
        margin: 8px;
    }
    .facebook-login-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        button {
            border-radius: 32px;
            padding: 10px 38px;
            font-size: 17px;
            font-family: inherit;
            border: none;
        }
    }
    .buttons-wrapper {
        display: block;
        margin-top: 20px;
        text-align: left;
        .submit-btn {
            background-color: #5e97c7;
            color: #fff;
            height: 42px;
            padding: 0 31px;
            font-size: 15px;
            &.disabled {
                opacity: .6;
            }
            
        }
        .close-btn {
            font-size: 17px;
            color: #333;
            text-decoration: underline;
            margin-left: 17px;
            cursor: pointer;
        }
    }
    .stars-wrapper {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h3 {
            color: #333;
            margin-bottom: 4px;
        }
        .ant-rate {
            flex-direction: row-reverse;
            justify-content: flex-end;
            display: flex;    
            margin-right: -10px;      
            .anticon-star {
                font-size: 28px;
                padding-left: 5px;
            }
        }
    }
    .comment-wrapper {
        text-align: right;
        padding: 10px 20px;
        h3 {
            color: #333;
        }
        .comment {
            text-align: right;
            direction: rtl;
            font-size: 16px;
            border-color: rgba(0,0,0,.3);
            
            &::placeholder {
                color: rgba(0,0,0, .5);
                font-weight: 300;
                font-family: "Open Sans Hebrew", "arial", "Helvetica Neue", Helvetica, serif, sans-serif;

            }

            .comment-header  img {
                resize: both;
                overflow: auto;
                object-fit: cover;
            }


        }
    } 
    
}