h1,
h2,
h3,
h4,
h5,
h6,
div,
a,
p {
  font-family: 'Varela Round', sans-serif;
}
p {
  font-size: 22px;
  color: #07081F;
}
h1 {
  color: #5E97C9;
  font-size: 44px;
}
h2 {
  color: #5E97C9;
  font-size: 38px;
}
h3 {
  font-size: 33px;
}
body {
  font-style: normal;
  font-weight: 600;
  .ant-layout {
    background-color: white;
  }
  .ant-layout-content {
    background-color: white;
  }
  .loader-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .anticon {
      font-size: 50px;
    }
  }
}

