.single-image-section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
      > p {
        padding: 0 12%;
     }
     ul {
        display: flex;
        list-style-type: none;
        margin-top: 35px;
        li {
           margin: 0 10px;
           width: 300px;   
         strong {
            font-size: 24px;
           }
           p {
            font-size: 16px;
            margin-top: 15px;
            text-align: center;
           }
           .icon {
              margin-bottom: 15px;
              svg {
               font-size: 82px;
                 color: rgba(94, 151, 201, 1);
              }
           }
        }

     }
}