@import '../../constants/common.scss';
.sub-category-picker {
  height: 100px;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px 0 15px 15px;
  @include mobile {
    height: initial;
  }

  .sub-category {
    font-size: 16px;
    padding: 5px;
    color: #2c3543;
    cursor: pointer;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 0 10px;
    &:hover {
      color: #277bba;
      opacity: 0.7;
    }
  }
  .more-button {
    margin-right: 10px;
  }
}
.ant-dropdown a {
  font-size: 16px;
  // padding: 5px;
  color: #2c3543;
  text-align: center;
}
