@import '../../sass/common.scss';

.page, body .ant-layout-content {
  text-align: center;
  background: #f0f2f5;
  position: relative;
  max-width: 100%;
  perspective: 2px;
  width: 100%;
  min-height: 100vh;
  @include mobile {
    margin-top: 100px;
    max-width: 100%;
    margin: initial;
    min-height: 100vh;
  }
  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
