@import '../../constants/common.scss';

.breadcrumbs {
  width: 100%;
  text-align: right;
  direction: rtl;
  display: flex;
  justify-content: flex-start;
  @include mobile {
    margin-top: 25px;
    flex-wrap: wrap;
  }
  a,
  span,
  .anticon {
    // color: #ddd;
    color: #808080;
    font-weight: 100;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    white-space: nowrap;
    @include mobile {
      font-size: 14px;
    }
  }
  .highlighted span {
    font-weight: 600;
  }
  .disabled span {
    color: #808080;
    cursor: initial;

    &:hover {
      text-decoration: none;
    }
  }

  .anticon {
    padding-left: 5px;
  }
}
